extends layout

block content
    h1 #{page_title}
    form(method='POST', action='/books/add')
        #form-group
            label Title:
            input.form-control(name='title', type='text')
        #form-group
            label Author:
            input.form-control(name='author', type='text')
        #form-group
            label Status:
            select.form-control(name="status")
                option(value='WR') Want to Read
                option(value='WR') Want to Read
                option(value='WR') Want to Read
