extends layout

block content
    h1 #{page_title}
    form(method='POST', action='/books/add')
        #form-group
            label Title:
            input.form-control(name='title', type='text')
        #form-group
            label Author:
            input.form-control(name='author', type='text')
        #form-group
            label Status:
            select.form-control(name="status")
                option(value='', disabled=true) --Select--
                option(value='WR', selected = book.status == 'WR' ? true : false) Want to Read
                option(value='CR', selected = book.status == 'CR' ? true : false) Currently Reading
                option(value='HR') Have Read
        input.btn.btn-primary(type='submit', value='Submit')
